<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row mx-auto justify-content-center">
                <div class="col-lg-5 col-md-6 m-2 mt-4 bg-box p-3">
                    <form class="mb-4">
                        <div class="col-sm-12 p-4 text-center">
                            <h2>Publicar nuevo libro</h2>
                        </div>
                        <div class="form-group row mx-auto">
                            <div class="col-12">
                                <input type="text" id="title" name="title" class="form-control"
                                    placeholder="Titulo del libro..." [(ngModel)]="title">
                            </div>
                        </div>
                        <div class="form-group mt-4 row mx-auto">
                            <div class="col-12">
                                <input type="text" id="author" name="author" class="form-control"
                                    placeholder="Autor del libro..." [(ngModel)]="author">
                            </div>
                        </div>
                        <div class="form-group mt-4 row mx-auto">
                            <label for="c" class="col-form-label">Elige una categoría:</label>
                            <div class="col-12">
                                <select name="c" id="c" class="form-select" [(ngModel)]="category">
                                    <option *ngFor="let c of categories" [ngValue]="c">
                                        {{c}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group row mb-4 mt-4 justify-content-center mx-auto">
                            <label for="image" class="col-form-label text-center">Agrega una imagen de portada:</label>
                            <div class="col-12 mt-2">
                                <input type="file" class="form-control" id="image" (change)="onFileChangeT($event)">
                            </div>
                        </div>
                        <div class="input-group row mb-3 mt-2 mb-5 justi-content-center mx-auto">
                            <label for="pdf" class="col-form-label text-center">Agrega el archivo PDF:</label>
                            <div class="col-12 mt-2">
                                <input type="file" class="form-control" id="pdf" (change)="onFileChange($event)">
                            </div>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary mx-auto d-flex d-block" type="button"
                                id="inputGroupFile02" (click)="onUpload()">Subir Archivo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>