<div class="container-fluid">
    <div class="row">
        <div class="col-2 min-vh-100" style="background-color: #fff;">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col">
            <div class="row mx-auto">
                <div class="col-6 m-2 mt-5">
                    <legend class="mb-5">Libros que has subido</legend>
                    <table class="table mt-4">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">*</th>
                                <th scope="col">Nombre del libro</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let libro of user.libros">
                                <th scope="row">1</th>
                                <td>{{libro.fileName}}</td>
                                <td>
                                    <a href="">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-5 m-2 mt-4">
                    <form>
                        <div class="col-sm-12 p-4 text-center">
                            <h2>Publicar nuevo libro</h2>
                        </div>
                        <div class="form-group">
                            <input type="text" id="title" name="title" class="form-control"
                                placeholder="Titulo del libro..." [(ngModel)]="title">
                        </div>
                        <div class="form-group mt-4">
                            <input type="text" id="author" name="author" class="form-control"
                                placeholder="Autor del libro..." [(ngModel)]="author">
                        </div>
                        <div class="form-group mt-4">
                            <select name="c" id="c" class="form-select">
                                <option selected>Elige una categoría</option>
                                <option *ngFor="let c of categories" [ngValue]="c">
                                    {{c.name}}
                                </option>
                            </select>
                        </div>
                        <div class="input-group row mb-4 mt-4 justify-content-center">
                            <label for="image" class="col-form-label text-center">Agrega una imagen de portada:</label>
                            <div class="col-lg-12 mt-2">
                                <input type="file" class="form-control" id="image" (change)="onFileChangeT($event)">
                            </div>
                        </div>
                        <div class="input-group row mb-3 mt-2 mb-5 justi-content-center">
                            <label for="pdf" class="col-form-label text-center">Agrega el archivo PDF:</label>
                            <div class="col-lg-12 mt-2">
                                <input type="file" class="form-control" id="pdf" (change)="onFileChange($event)">
                            </div>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary mx-auto d-flex d-block" type="button"
                                id="inputGroupFile02" (click)="onUpload()">Subir Archivo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>