<div class="row justify-content-center align-items-center mx-auto min-vh-100 p-5">
    <div class="col-lg-5 col-md-8 col-sm-8">
        <img src="../../../assets/books.png" alt="">
    </div>
    <div class="col-lg-6 col-md-8 col-sm-8 m-4 about">
        <h2 class="">Acerca de Nosotros</h2>
        <p>
            En Alejandría, nos dedicamos a preservar y difundir el conocimiento y la cultura, inspirados en
            la grandiosa Biblioteca de Alejandría del antiguo mundo. Nuestra plataforma es un homenaje a la riqueza de
            la historia y la sabiduría que ha perdurado a lo largo de los siglos, y buscamos llevar esa tradición de
            excelencia y descubrimiento al mundo moderno.
        </p>
        <h2 class="mt-4">Nuestra Misión</h2>
        <p>
            Nuestra misión es proporcionar un acceso abierto y gratuito a una amplia variedad de recursos educativos,
            académicos y culturales, en un entorno digital inclusivo y colaborativo. Creemos en el poder transformador
            del conocimiento y estamos comprometidos a fomentar la educación, la investigación y el diálogo
            intercultural en todo el mundo.
        </p>
    </div>
</div>