<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center p-2 mt-4">
            <h2>El conocimiento es el alimento del alma</h2>
        </div>
    </div>
    <div class="row p-3 justify-content-center mt-2">        
        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>
        
        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>
        
        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>

        <div class="card m-4" style="width: 10rem;">
            <img class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nikola Tesla</p>
                <button class="btn d-flex d-block mx-auto" href="">Ver más</button>
            </div>
        </div>
    </div>
</div>