<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center p-2 mt-4">
            <h2>El conocimiento es el alimento del alma</h2>
        </div>
    </div>
    <div class="row p-3 justify-content-center mt-2">        
        <div class="card m-4" style="width: 13rem;" *ngFor="let book of filterBooks">
            <img *ngIf="book?.photo" class="card-img-top mt-3" src="http://localhost:8080/api/files/view/image/{{book.photo}}" alt="Card image cap">
            <img *ngIf="!book?.photo" class="card-img-top mt-3" src="../../../assets/nikola.png" alt="Card image cap">
            <div class="card-body">
                <div class="contain text-center">
                    <p class="card-text">{{book.fileName}}</p>
                    <p class="card-text">{{book.author}}</p>
                </div>
                <button class="btn d-flex d-block mx-auto" (click)="downloadBook(book.id)">Descargar</button>
            </div>
        </div>
    </div>
</div>