.img{
    background-image: url("../../../assets/library.png");
    background-size: cover;
    mask-image: linear-gradient(
        90deg,
        black 80%, 
        transparent
    );
}
.btn{
    background-color: #333333;
    color: white;
}
form{
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: rgba(245, 241, 241, 0.35) 0px 5px 15px;
}